#calculator{
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #272626;
    margin: 20px;
    width: 250px;
    height: 510px;
}
body{
    background: radial-gradient(circle at center,
    #f5f6f5 0%,
    #ccd1cc 35%,
    #8fd68f 70%,
    #71b171 100%);
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#row button{
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgb(5, 5, 5);
    margin: 5px;
    width: 55px;
    height: 55px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0 6px 12px rgba(241, 238, 238, 0.5);
    /* color: white; */
}
#row button:active{
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgba(129, 129, 129, 0.5);
    margin: 5px;
    width: 55px;
    height: 55px;
}
input{
    width: 214px; height: 65px;
    background-color:  #030303;
    margin: 20px 10px 18px 10px;
    font-size: 20px;
    font-weight: 600;
    text-align: right;
    padding-right: 10px;
    border: 1px solid rgb(5, 238, 5);
    border-radius: 10px;
    color: rgb(3, 255, 3);
    box-shadow: 0 6px 12px rgba(130, 234, 135, 0.5);
}
#row{
    display: flex;
    justify-content: center;
}
#wer{
    color: rgb(5, 250, 5);
}
#wer1{
    color:white;
}
#wer2{
    color: rgb(250, 5, 238);
    background-color: blue;
}
input::placeholder {
    color: rgb(3, 251, 3);
}
#row #wer3{
    color: aliceblue;
    width: 117px;
}